
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #e2e2e2
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #0f4876
}



.padding-t-75 {
    padding-top: 75px;
}
.padding-t-90 {
    padding-top: 90px;
}
.pl-50 {
    padding-left: 50px;
}


.video-bg {
    background-image: url(../../assets/images/header-tecnologia.jpg)!important;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
}
.video-bg h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    color: #ffffff;
    font-size: 76px;
    font-weight: 400;
    text-transform: uppercase;
}

#loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 9999;

  animation-delay:5s
}

#loading img {
  width: 55px;
}
.fadeOut {
  animation-delay:5s
}
.slow {
  animation-delay:5s
}



/*MEGA NAV DROPDOWN*/
.dropdown-menu {
    top: 99%;
}
.navbar > .container .navbar-nav > li > .dropdown-menu {
    border-top-color: #ffffff;
}
.navbar > .container .navbar-nav > li > .dropdown-menu li a {
    font-size: 13px;
    padding: 11px 25px;
}
.navbar > .container .navbar-nav > li > .dropdown-menu li a:hover {
  color: #0f4876
}




/****************************** / FORM / *******************************/
.form-group {
    position: relative;
    overflow: hidden;
}






/****************************** / FOOTER / *******************************/
ul.list-nav-footer {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}
ul.list-nav-footer li {
    margin: 10px 0;
}
ul.list-nav-footer li a {
  color: #616161
}
ul.list-nav-footer li a:hover {
  color: #0f4876;
  text-decoration: underline;
}
.section-t-ft {
    font-size: 14px;
    color: #1b1b1b;
    font-weight: 600;
    text-transform: uppercase;
}
.section-t-ft:hover {
  color: #0f4876
}
.btn-right-footer {
  float: right;
}








/************** / BLOKS ORDER / *********************/
  .row-order {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }



  @media (min-width: 992px) {
    .order-lg-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-lg-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
  }









/****************************** / HOME > VIDEO / *******************************/
.iq-bg-fixed {
    height: 100vh!important;
}

.iq-bg-fixed h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    color: #ffffff;
    font-size: 76px;
    font-weight: 400;
    text-transform: uppercase;
}
.iq-bg-fixed .logo-i {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    color: #fff;
    font-size: 76px
}
.loguin {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 70%;
    color: #fff;
    background: #333;
    padding: 15px 25px;
    width: 155px;
    margin: 0 auto;
}
.iq-bg-fixed {
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
    /* z-index: 0; */
    background-attachment: fixed !important;
}
.iq-over-black-80:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
      background: rgba(9, 179, 239, 0.8);
      background: -moz-linear-gradient(left, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(9, 179, 239, 0.8)), color-stop(100%, rgba(30, 80, 226, 0.8)));
      background: -webkit-linear-gradient(left, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
      background: -o-linear-gradient(left, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
      background: -ms-linear-gradient(left, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
      background: rgba(15, 72, 118, 0.86);
  }

/* [class*='iq-over-']:before {
    z-index: 0;
} */











/****************************** / CONTACTO / *******************************/
#page-title.white-bg-title {
    padding: 80px 0;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    background: #144c79;
    border: none;
}
#page-title.white-bg-title h1 {
  color: #fff;
  font-size: 51px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#page-title.white-bg-title .mainDescription {
    color: #8a8a8a;
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
}
#sectionContact h4 {
    font-weight: 600;
        color: #0f4876
}
#sectionContact ul.list-unstyled{
    padding-bottom: 6px;
}
#sectionContact ul.list-unstyled li {
    padding: 5px 0;
    font-size: 15px;
    margin-bottom: 10px;
}
#sectionContact ul.list-unstyled li i {
    width: 25px;
    height: 25px;
    background: #CCC;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    background: #0f4876;
    color: #FFF;
    margin: 4px 5px 15px 0;
    float: left;
}
#sectionContact ul.list-unstyled li span {
    margin-top: 7px;
    display: inline-block;
}
#sectionContact ul.list-unstyled li span strong {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    color: #1b1b1b;
    display: block;
}



/*CARD MAP*/
.title-card {
    color: #0f4876;
    font-weight: 800;
    font-family: "Helvetica";
    letter-spacing: -1px;
    font-size: 22px;
        border-bottom: solid 1px #ececec;
    padding-bottom: 7px;
}
.box-card-map {
    padding: 5px 10px;
}
.gm-style .gm-style-iw {
    width: 360px!important;
}
.container-fullw .box-card-map p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin: 0 0 5px 0;
}
.container-fullw .box-card-map p b {
    color: #0f4876;
    font-weight: 500;
}


/*BTN WSP*/
.btn-wsp {
    height: 40px;
    width: 40px;
    background-position: center;
    background-color: #25d366;
    opacity: 75%;
    background-image: url(../../assets/images/btn-wsp.png)!important;
    border-radius: 50px;
    position: fixed;
    z-index: 999999;
    top: 91.5%;
    right: 30px;
    background-size: 50px;
}


textarea.form-control {
    height: 145px;
}

.btn-send {
width: 130px;
    height: 40px;
    border-radius: 100px;
}



#modalConfirm .modal-body {
    padding: 65px 0;
    background: #FFF;
}
#modalConfirm h4.modal-title {
    color: #000;
}
#modalConfirm h2.modal-subtitle {
    margin: 15px 0 0 0;
    font-size: 29px;
    font-weight: 500;
}
#modalConfirm button.close {
    position: absolute;
    right: 25px;
    top: 9px;
    font-size: 39px;
    z-index: 99;
}
#modalConfirm .modal-content {
    outline: 0;
    box-shadow: 2px 3px 33px rgba(0, 0, 0, 0.25);
}





/****************************** / TEXTS / *******************************/
.over-title {
    font-size: 33px;
    font-weight: 400;
    text-transform: uppercase;
    color: #0f4876;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 40px;
}
.line-title:after {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: #dadada;
    left: 1px;
    bottom: -10px;
}


.over-title-in {
    font-size: 49px;
    margin: 0 0 30px 0;
    font-weight: 400;
    color: #0f4876;
    text-transform: uppercase;
    position: relative;   
    padding-bottom: 15px;
}
.over-title-in.line-title:before {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: #dadada;
    left: 1px;
    bottom: -10px;
}
.count-title:after {
    content: "01";
    width: 45px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: -45px;
    color: #ccc;
    background: transparent;
    font-family: "Roboto";
        font-weight: 300;
}
.count-title.first:after {
    content: "01";
}
.count-title.second:after {
    content: "02";
}
.count-title.third:after {
    content: "03";
}
.count-title.fourth:after {
    content: "04";
}
.count-title.fifth:after {
    content: "05";
}
.count-title.sixth:after {
    content: "06";
}


.container-fullw p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400
}
.mp-text {
    max-width: 65%;
    margin: -90px 0 25px 0;
    font-weight: 400;
    padding: 35px;
    background: #fff;
    min-height: 110px;
    box-shadow: 0 -4px 22px #00000026;
}

.ps-right {
    float: right;
    margin: -90px 0 25px 0;
}




/****** / BLock Texts Tecnologia / ********/
.content-text {
    padding: 45px 35px;
    width: 100%;
    right: 0;
    top: 0;
    height: 389px;
}
.bt-blue {
   background: #0f4876;
}
.bt-blue h4,
.bt-blue p {
    color: #fff
}
.bt-white {
    background: #fff;
}
.pdg-bottom {
  padding-bottom: 125px
}

.box-pr-0 {
  padding-right: 0
}
.box-pl-0 {
  padding-left: 0
}
























@media (max-width: 991px) {
  .mp-text {
      max-width: 100%;
      margin: -30px 0 25px 0;
      padding: 25px 20px;
  }

  .mp-text .over-title {
    margin: 0 0 35px 0;
    padding-bottom: 15px;
  }


  .block-text-ps-l,
  .block-text-ps-r {
      width: 100%;
      position: relative;
      top: 0;
      height: 100%
  }
    

  .over-title {
      font-size: 39px;
  }

  .container-fullw {
      padding-top: 50px;
  }



  .mt-xs-50 {
    margin-top: 50px
  }


  .pl-50 {
      padding-left: 0;
  }



  /*Footer*/
  ul.list-nav-footer {
      margin-bottom: 40px;
  }

  .btn-right-footer {
    display: block;
    margin: 15px 0;
    float: none;
  }


  /*TECNOLOGIA*/
  .box-pr-0 {
    padding-right: 15px
  }
  .box-pl-0 {
    padding-left: 15px
  }


  /*HOME*/
  .iq-bg-fixed h1 {
    font-size: 41px;
      top: 35%;
  }

}




@media (max-width: 768px) {
  .over-title {
      font-size: 26px;
      margin-bottom: 0;
      font-weight: 500;
      margin: 0;
      padding: 0;
  }
  .over-title br {
    display: none;
  }


  .content-text {
      height: auto;
  }
  .over-title-in {
      font-size: 39px;
  }


}





@media (max-width: 640px) {


    .content-text {
       padding: 30px 25px;
    }
    .content-text .over-title-in {
        font-size: 30px;
    }
    #page-title.white-bg-title h1 {
        font-size: 36px;
        font-weight: 500;
    }
    #page-title.white-bg-title .mainDescription {
        font-size: 18px;
        padding: 0 30px;
    }

    /*CONTACTO*/
    #sectionContact ul.list-unstyled {
      padding: 15px;
    }
    .pl-xs {
      padding-left: 15px;
    }

    /*HOME*/
    .video-bg h1 {
      font-size: 48px;
      top: 50%;
    }


}

/* SUSTENTABILIDAD */

#PHCC {
    position: relative; 
    left: 30%; 
    width: 40%;
}

@media (max-width: 1024px){
    #PHCC{
        width: 50%;
    }
}

@media (max-width: 768px){
    #PHCC {
        width: 60%;
        left: 20%;
    }
}

@media (max-width: 640px){
    #PHCC {
        width: 100%;
        left: 0%;
    }
}








